### Eclipse
.metadata/
bin/
.settings/

# Only root files
.classpath
.project

# ATL & Co
*.asm
*.emftvm
**-trace

### IntelliJ
.idea/
*.iws
*.iml
*.eml

### Generated sources
*/src-gen/*
*/xtend-gen/*
!*/src-gen/.empty
!*/xtend-gen/.empty

### Update-site
org.eclipse.m2m.atl.atlgt.update/*