### Eclipse
**/.metadata/
**/bin/
**/.settings/

# Only root files
.classpath
.project

# ATL & Co
**.asm
**.emftvm

### IntelliJ
**/.idea/
**.iws
**.iml
**.eml

### Generated sources
**/src-gen
**/xtend-gen

# Keep file hierarchy
!**/src-gen/.empty
!**/xtend-gen/.empty