### Eclipse
**/.metadata/
**/bin/
**/.settings/

# Only root files
.classpath
.project

# ATL & Co
**.asm
**.emftvm

### IntelliJ
**/.idea/
**.iws
**.iml
**.eml

### Generated sources
**/src-gen/
**/xtend-gen/
!**/src-gen/.empty
!**/xtend-gen/.empty