<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated KM3 -->
      <package
            uri="http://www.eclipse.org/m2m/km3"
            class="org.eclipse.m2m.km3.Km3Package"
            genModel="models/KM3.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated KM3 -->
      <package
            uri="http://www.eclipse.org/m2m/km3/primitives"
            class="org.eclipse.m2m.km3.primitives.Km3PrimitivesPackage"
            genModel="models/KM3.genmodel"/>
   </extension>

</plugin>
