<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2m.atl.core.launcher">
      <launcher
            class="org.eclipse.m2m.atl.atlgt.launcher.ATLGTLauncher"
            name="ATL/GRoundTram VM">          
         <option
               description="Print execution times to console"
               mode="run"
               name="printExecutionTime"></option>
         <option
               description="Allow inter-model references"
               name="allowInterModelReferences"></option>
         <option
               description="Print execution information to console for each executed bytecode (very verbose!)"
               mode="run"
               name="step"></option>
         <option
               description="Support UML2 stereotypes application"
               name="supportUML2Stereotypes"></option>
         <option
               description="Disassembly mode"
               mode="debug"
               name="disassemblyMode">
         </option>
         <option
               description="Stop in main"
               mode="debug"
               name="stopInMain">
         </option>
      </launcher>
   </extension>
</plugin>
