<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
            point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType
                delegate="org.eclipse.m2m.atlgt.launcher.AtlGtLauncher"
                delegateDescription="This is for test"
                delegateName="Launcher Test"
                id="org.eclipse.m2m.atlgt.launcher"
                modes="run,debug"
                name="ATL GT Launcher">
        </launchConfigurationType>
    </extension>

    <extension
            point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup
                class="org.eclipse.m2m.atlgt.launcher.ui.LauncherTabGroup"
                id="org.eclipse.m2m.atlgt.ui.tabgroups"
                type="org.eclipse.m2m.atlgt.launcher">
        </launchConfigurationTabGroup>
    </extension>
</plugin>
