<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.atlgt.launcher">
<stringAttribute key="ATL File Name" value="//org.eclipse.m2m.atl.atlgt.example.simpleclass2relational/transformation/ClassDiagram2Relational.atl"/>
<booleanAttribute key="Backward" value="true"/>
<booleanAttribute key="Forward" value="false"/>
<mapAttribute key="Inout Model Options"/>
<mapAttribute key="Inout Models"/>
<mapAttribute key="Inout Models Output Locations"/>
<mapAttribute key="Input Model Options"/>
<mapAttribute key="Input Models">
<mapEntry key="IN" value="platform:/resource/org.eclipse.m2m.atl.atlgt.example.simpleclass2relational/test/myClassDiagram.xmi"/>
</mapAttribute>
<mapAttribute key="Metamodel Options"/>
<mapAttribute key="Metamodels">
<mapEntry key="ClassDiagram" value="platform:/resource/org.eclipse.m2m.atl.atlgt.example.simpleclass2relational/transformation/ClassDiagram.ecore"/>
<mapEntry key="Relational" value="platform:/resource/org.eclipse.m2m.atl.atlgt.example.simpleclass2relational/transformation/Relational.ecore"/>
</mapAttribute>
<stringAttribute key="Module Name" value="ClassDiagram2Relational"/>
<stringAttribute key="Module Path" value="/org.eclipse.m2m.atl.atlgt.example.simpleclass2relational/transformation/"/>
<mapAttribute key="Output Model Options">
<mapEntry key="OUT" value="allowIntermodelReferences derivedFile"/>
</mapAttribute>
<mapAttribute key="Output Models">
<mapEntry key="OUT" value="platform:/resource/org.eclipse.m2m.atl.atlgt.example.simpleclass2relational/test/myRelational.xmi"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
<stringAttribute key="name" value="&lt;unnamed&gt;"/>
</launchConfiguration>
