*.cm*
*.o
*~
.DS_Store
depend
*.bin
*.out
*.top
*.opt
*.output
*.log
*.orig
*.annot
*.spot
*.spit
lex*.ml
lex*.mli
parse?*.ml
parse*.mli
ast
*.byte
*.cache html
trace
xmi2dot_command
dot2xmi_command
dot2dgm_command
atl2unql
*.exe
*.a
tmp
html
autom4te.cache
