<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated KM3 -->
      <package
            uri="http://example.org/km3"
            class="km3.Km3Package"
            genModel="resources/KM3.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated KM3 -->
      <package
            uri="http://example.org/prim"
            class="PrimitiveTypes.PrimitiveTypesPackage"
            genModel="resources/KM3.genmodel"/>
   </extension>

</plugin>
